{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn w3-btn w3-blue-grey">{{ button_label|default('Shearch') }}</button>
    {{ form_end(form) }}
    <div class="w3-row">
       {% for product in products %}
            <div class="w3-third w3-container w3-margin-top  ">
                <div class="w3-card-4">

                <header class="w3-container w3-teal">
                <h1>{{ product.name }}</h1>
                </header>

                <div class="w3-container">
                <img class="w3-border" style="width:100%" src="{{asset(product.image)}}" alt="{{ product.name }}">
                <p>{{ product.expcerpt }}</p>
                <p>le prix: {{ product.price }}</p>
                </div>

                <footer class="w3-container w3-teal">
                    <a class="w3-button" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="w3-button" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </footer>

                </div>
            </div>
        {% else %}
            <div class="w3-third w3-container ">
                <td colspan="12">no records found</td>
            </div>
        {% endfor %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Expcerpt</th>
                <th>Price</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.expcerpt }}</td>
                <td>{{ product.price }}</td>
                {# <td>{{ product.creatAt ? product.creatAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updateAt ? product.updateAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ product.image }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="w3-button w3-teal" href="{{ path('app_product_new') }}">+</a>
{% endblock %}
