{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    {# {{dump(app.user.favorites)}} #}
    {% for favori in app.user.favorites %}
        {{dump(favori)}}
    {% endfor %}
    <h1>Product index</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn w3-btn w3-blue-grey">{{ button_label|default('Shearch') }}</button>
    {{ form_end(form) }}
    {# {{ dump(form.vars.value)}} #}
    <div class="w3-row">
       {% for product in products %}
            <div class="w3-third w3-container w3-margin-top  ">
                <div class="w3-card-4">

                <header class="w3-container w3-teal">
                <h1>{{ product.name }}</h1>
                </header>

                <div class="w3-container">
                <img class="w3-border" style="width:100%" src="{{asset(product.image)}}" alt="{{ product.name }}">
                <p>{{ product.expcerpt }}</p>
                <p>le prix: {{ product.price }}€</p>
                </div>

                <footer class="w3-container w3-teal">
                    <a class="w3-button" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="w3-button" href="{{ path('app_favory_new', {'product': product.id, 'user': app.user.id}) }}">ajout aux favoris</a>
                    {% if app.user %}
                        {% if product.seller == app.user %}
                            <a class="w3-button" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                        {% endif %} 
                    {% endif %}
                </footer>

                </div>
            </div>
        {% else %}
            <div class="w3-third w3-container ">
                <td colspan="12">no records found</td>
            </div>
        {% endfor %}
    </div>
    {% if app.user %}
    <a class="w3-button w3-teal" href="{{ path('app_product_new') }}">+</a>
    {% endif %}
{% endblock %}
