{% extends 'base.html.twig' %}

{% block title %}Cartproducts index{% endblock %}

{% block body %}
    <h1>Panier</h1>
    {% set total = 0 %}
    <div class="w3-row" >
       {% for cartproduct in cartproducts %}
            <div class="w3-third w3-container w3-margin-top  ">
                <div class="w3-card-4">

                <header class="w3-container w3-teal">
                <h1>{{ cartproduct.product.name }}</h1>
                </header>

                <div class="w3-container">
                <img class="w3-border" style="width:100%" src="{{asset(cartproduct.product.image)}}" alt="{{ cartproduct.product.name }}">
                <p>{{ cartproduct.product.expcerpt }}</p>
                <p><strong>le prix: </strong>{{ cartproduct.product.price }}</p>
                <p><strong>la quantity sélectionné: </strong>{{ cartproduct.quantity }}</p>
                <p><strong>total: </strong>{{ cartproduct.product.price * cartproduct.quantity }}€</p>
                {{ total == total + cartproduct.product.price * cartproduct.quantity }}
                {% set total = total + cartproduct.product.price * cartproduct.quantity %}
                </div>

                <footer class="w3-container w3-teal">
                    <a class="btn w3-button" href="{{ path('app_panier_show', {'id': cartproduct.id}) }}">show</a>
                    <form class="btn w3-button" method="post" action="{{ path('app_panier_delete', {'id': cartproduct.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cartproduct.id) }}">
                        <button class="btn w3-button">Delete</button>
                    </form>
                </footer>

                </div>
            </div>
        {% else %}
            <div class="w3-third w3-container ">
                <td colspan="12">no records found</td>
            </div>
        {% endfor %}
        {# {{dump(total)}} #}
    </div>
    {% if cartproducts %}
        <a class="btn w3-button mt-3" href="{{ path('app_profil_chekout', {'total': total}) }}">Acheter</a>
    {% endif %}
{% endblock %}
