{% extends 'base.html.twig' %}

{% block title %}Cartproducts{% endblock %}

{% block body %}    
    <h1>{{ cartproduct.product.name }}</h1>

    <div class=" w3-container w3-margin-top" style="width:50%; display: block; margin-left: auto; margin-right: auto;">
        <div class="w3-card-4">

        {# <header class="w3-container w3-teal">
        <h1>{{ product.name }}</h1>
        </header> #}
        {# {{dump(product)}} #}
        <div class="w3-container" >
        <img class="w3-border" style="width:100%" src="{{asset(cartproduct.product.image)}}" alt="{{ cartproduct.product.name }}">
        <p><strong>le résumer: </strong>{{ cartproduct.product.expcerpt }}</p>
        <p><strong>le prix: </strong>{{ cartproduct.product.price }}</p>
        <p><strong>description: </strong>{{ cartproduct.product.description }}</p>
        <p><strong>Quantity: </strong>{{ cartproduct.product.quantity }}</p>
        <p><strong>Sold: </strong>{{ cartproduct.product.sold }}</p>
        <p><strong>Statut: </strong>{{ cartproduct.product.statut }}€</p>
        <p><strong>la quantity sélectionné: </strong>{{ cartproduct.quantity }}</p>
        <p><strong>total: </strong>{{ cartproduct.product.price * cartproduct.quantity }}€</p>
        </div>

        <footer class="w3-container w3-teal">
            <a class="btn w3-button" href="{{ path('app_panier') }}">back</a>
            <a class="btn w3-button" href="{{ path('app_product_show', {'id': cartproduct.id}) }}">show</a>
            <form class="btn w3-button" method="post" action="{{ path('app_panier_delete', {'id': cartproduct.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cartproduct.id) }}">
                <button class="btn w3-button">Delete</button>
            </form>
        </footer>

        </div>
    </div>
    {# {{ include('content/_form.html.twig', {'button_label': 'Modifier la quantité'}) }} #}

{% endblock %}
